<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}">
<head>
    <title th:text="${cliente.id == null} ? #{formulario.title.cad} :
    #{formulario.title.edit}"></title>
</head>
<body>
    "${#lists.isEmpty(clientes)}"
      <main class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- <h1 th:if="${cliente.id != null}">Editar Cliente</h1>
                <h1 th:if="${cliente.id == null}">Cadastrar novo Cliente</h1> -->
                <h1 th:text="${cliente.id == null} ? #{formulario.header.cad} : #{formulario.header.edit}"></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <form method="POST" th:object="${cliente}">
                    <input type="hidden" th:filed="*{id}">


                    <!-- <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" 
                        class="form-control" 
                        id="nome" 
                        th:field="*{nome}">
                    </div> -->

                    <div th:replace="~{fragments/_bootstrap-fields :: input ('nome', #{formulario.campo.1}, 'text')}"></div>

                    <!-- <div class="mb-3">
                        <label for="dataNascimento" class="form-label">Data de Nascimento</label>
                        <input type="date" 
                        class="form-control" 
                        id="dataNascimento" 
                        th:field="*{dataNascimento}">
                    </div> -->
                    <div th:replace="~{fragments/_bootstrap-fields :: input ('dataNascimento', #{formulario.campo.2}, 'date')}"></div>
                    <!-- <div class="mb-3">
                        <label for="profissao" class="form-label">Profissão</label>
                        <input type="text" 
                        class="form-control" 
                        id="profissao" 
                        th:field="*{profissao}">
                    </div> -->
                    <div th:replace="~{fragments/_bootstrap-fields :: input ('profissao', #{formulario.campo.3}, 'text')}"></div>
                    <button type="submit" class="btn btn-primary" th:text="#{formulario.botao.salvar}"></button>
                </form>
            </div>
        </div>
      </main>

  
</body>
</html>